.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container video {
    border-radius: 20px;
    width: 50%;
    min-width: 300px;
    box-shadow: -10px 15px 15px rgba(0, 0, 0, 0.568);
}