.mainDiv {
  padding: 25px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 46px;
  width: 100px;
  height: 100px;
  background-color: #e65100;
  border: 2px solid #444d44;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  color: black;
  box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.568);
  transition: background-color 0.6s;
}

.iconDiv {
  display: flex;
  justify-content: center;
  background: transparent;
  font-size: 50px;
}

.mainDiv:hover {
  background-color: #444d44;
  border: 2px solid #777777;
}